$white: white;
$main: #BBEC43;
$secondary: #2CD667;
$black: rgb(49, 49, 49);

*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    overflow: hidden;
}
#admira{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 180px;
    height: auto;
    z-index: 200;
}
main#mobile.page-generic{
    justify-content: center;
    header{
        position: relative;
        top: -30px;
    }
}
main#mobile.success{
    hr{

        border-top: 1px solid;
        margin: 4vh 0;
        border: $main solid 1px;
        border-width: 1px;

    }
    div{
        h1{
            font-style: italic;
            font-weight: 400;
            font-size: 40px;
            text-align: center;
        }
        p{
            font-style: italic;
            font-size: 30px;             
            line-height: 1.4;
            font-size: 24px;
            font-weight: 200;
            span{
                font-weight: 500;
                &:after{
                    content: "\00a0";
            }
 
            }
        }
    }
}
main#mobile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url("back.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;

    header{
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 75%;
            height: auto;
        }
    }
    form{
        padding: 0 35px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh - 30vh;
        input::placeholder{
            position: relative;
            color: white;
        }
        input[type="text"],
        input[type="number"]  {
            height: 65px;
            border-radius: 5px;
            border: 1px solid white;
            background-color: unset;
            font-size: 22px;
            font-weight: 200;
            position: relative;
            z-index: 100;
            padding-left: 50px;

            &:focus{
                outline-color: $main;
            }
                span{
                    &::before{
                        content: "aa";

                    }
                    
                }
        }
        input + input{
            margin-top: 30px; 
        }
        button{
            height: 65px;
            border-radius: 5px;
            font-size: 30px;
            font-weight: 100;
            font-style: italic;
            border: unset;
            background: $main;

        }
        div:nth-of-type(1){
            height: 20vh;
            display: flex;
            flex-direction: column;
            position: relative;
            top: 15px;
            left: 17px;
                label{
                    font-size: 18px;
                    position: relative;
                }
        }
         
    }
    i{
        position: relative;
        display: block !important;
        top: 45px;
        left: 17px;
    
    }
    input[type="radio"] {
        position: relative;
        opacity: 0;
        top: 19px;
        z-index: 50;
        
        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }
      
        // Box.
        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px;
          transition: 0.2s;
          border: solid 1px $white;
          border-radius: 50%;
         
    
        }
        // Box hover
        &:hover + label:before {
            background-color: $white;
    
        }
        // Box focus
        &:focus + label:before {
            background-color: $white;
        }
        // Box checked
        &:checked + label:before {
            background-color: $main;
            border: solid 1px $main;
            
        }
        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }
        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          width: 20px;
          height: 20px;
        }
    }

}

main#shop{
    background: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // width: 100vw;
    // height: 100vh; 
    // overflow: hidden;
    video#layer1{
        position: absolute;
        z-index: 0;
        // min-width: 100vw; 
        // min-height: 100vh; 
    }
    div#layer2{
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        padding: 40px 60px;
        font-style: italic;
        display: flex;
        flex-direction: row;
        div{
            display: flex;
            flex-direction: column;
            div#info-var{
                width: 40vw;
                height: 70vh;
                position: relative;
                top: 50px;
                h1{
                    font-weight: 500;
                    font-size: 140px;
                }
                h2{
                    font-weight: 100;
                    font-size: 40px;
                }
            }
            div#info-price{
                height: 35vh;
                h1,
                h4,
                h3{
                    color: $black;
                }
                h1{
                    font-size: 180px;
                }
                h4,
                h3{
                    font-size: 40px;
                    font-weight: 100;
                    font-style: normal;
                    position: relative;
                    left: 25px;
                }
                h3{
                    font-weight: 500;
                }
            }
        }
        div#product{
            width: 60vw;
            display: flex;
            flex-direction: row;
            align-self: center;
                div{
                    animation-name: float;
                    animation-duration: 16s;
                    animation-timing-function: cubic-bezier(0.47, 0, 0.48, 0.99);
                    animation-play-state: running;
                    animation-iteration-count: infinite;
                }
                div:nth-of-type(1){
                    img{
                        width: 360px;
                        height: auto;
                    }
                    animation-delay: 5s;
                }
                div:nth-of-type(2){
                    img{
                        width: 512px;
                        height: auto;
                    }
                }
        }
    }
}
main#mupi{
    background: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // width: 100vw;
    // height: 100vh; 
    // overflow: hidden;
    video#layer1{
        position: absolute;
        z-index: 0;
        // min-width: 100vw; 
        // min-height: 100vh; 
    }
    div#layer2{
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        padding: 40px 60px;
        font-style: italic;
        display: flex;
        flex-direction: column;
        header{
            width: 100vw;
            height: 29vh;
            display: flex;
            justify-content: center;
 
            img{
                width: 50vw;
                position: relative;
                left: -60px;
            }
        }
        div#body{
            display: flex;
            flex-direction: row;
            div#info-var{
                width: 40vw;
                height: 70vh;
                position: relative;
                top: 50px;
                h1{
                    font-weight: 500;
                    font-size: 140px;
                }
                h2{
                    font-weight: 100;
                    font-size: 40px;
                }
            }
            div#info-price{
                height: 35vh;
                width: 50vw;
               
                h1,
                h4,
                h3{
                    color: $black;
                }
                h1{
                    font-size: 180px;
                }
                h4,
                h3{
                    font-size: 40px;
                    font-weight: 100;
                    font-style: normal;
                    position: relative;
                    left: 25px;
                }
                h3{
                    font-weight: 500;
                }
                div#qr{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    align-self: flex-start;
                    background-color: white;
                    width: 320px;
                    height: 420px;
                    border-radius: 15px;
                    margin-bottom: 22vh;
                    -webkit-box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.19);
                    -moz-box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.19);
                    box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.19);
                    img{
                        width: 240px;
                        height: auto;
                    }
                    div{
                        display: flex;
                        align-items: center;
                        height: 100px;
                        h5{
                            font-size: 58px;
                            font-weight: 400;
                            color: $secondary;
                            position: relative;
                            top: -14px;

                        }
                    }
                }

            }
        }
        div#product{
            width: 40vw;
            position: relative;
            top: 150px;
            left: -200px;
            display: flex;
            flex-direction: row;
            align-self: flex-end;
                div{
                    transform: rotate(15deg);
                    animation-name: float;
                    animation-duration: 16s;
                    animation-timing-function: cubic-bezier(0.47, 0, 0.48, 0.99);
                    animation-play-state: running;
                    animation-iteration-count: infinite;
                    img{
                        width: 680px;
                    }
                }
        }
    }
}
@keyframes float {
    0%   {transform: translate(0px, 0px) rotate(8deg);}
    25%  {transform: translate(0px, 40px) rotate(5deg);}
    75%  {transform: translate(0px, -50px) rotate(10deg);}
    100% {transform: translate(0px, 0px) rotate(8deg);}
}
