* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white; }

body {
  overflow: hidden; }

#admira {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 180px;
  height: auto;
  z-index: 200; }

main#mobile.page-generic {
  justify-content: center; }
  main#mobile.page-generic header {
    position: relative;
    top: -30px; }

main#mobile.success hr {
  border-top: 1px solid;
  margin: 4vh 0;
  border: #BBEC43 solid 1px;
  border-width: 1px; }
main#mobile.success div h1 {
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  text-align: center; }
main#mobile.success div p {
  font-style: italic;
  font-size: 30px;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 200; }
  main#mobile.success div p span {
    font-weight: 500; }
    main#mobile.success div p span:after {
      content: "\00a0"; }

main#mobile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url("back.png");
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  main#mobile header {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    main#mobile header img {
      width: 75%;
      height: auto; }
  main#mobile form {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh; }
    main#mobile form input::placeholder {
      position: relative;
      color: white; }
    main#mobile form input[type="text"],
    main#mobile form input[type="number"] {
      height: 65px;
      border-radius: 5px;
      border: 1px solid white;
      background-color: unset;
      font-size: 22px;
      font-weight: 200;
      position: relative;
      z-index: 100;
      padding-left: 50px; }
      main#mobile form input[type="text"]:focus,
      main#mobile form input[type="number"]:focus {
        outline-color: #BBEC43; }
      main#mobile form input[type="text"] span::before,
      main#mobile form input[type="number"] span::before {
        content: "aa"; }
    main#mobile form input + input {
      margin-top: 30px; }
    main#mobile form button {
      height: 65px;
      border-radius: 5px;
      font-size: 30px;
      font-weight: 100;
      font-style: italic;
      border: unset;
      background: #BBEC43; }
    main#mobile form div:nth-of-type(1) {
      height: 20vh;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 15px;
      left: 17px; }
      main#mobile form div:nth-of-type(1) label {
        font-size: 18px;
        position: relative; }
  main#mobile i {
    position: relative;
    display: block !important;
    top: 45px;
    left: 17px; }
  main#mobile input[type="radio"] {
    position: relative;
    opacity: 0;
    top: 19px;
    z-index: 50; }
    main#mobile input[type="radio"] + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    main#mobile input[type="radio"] + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      transition: 0.2s;
      border: solid 1px white;
      border-radius: 50%; }
    main#mobile input[type="radio"]:hover + label:before {
      background-color: white; }
    main#mobile input[type="radio"]:focus + label:before {
      background-color: white; }
    main#mobile input[type="radio"]:checked + label:before {
      background-color: #BBEC43;
      border: solid 1px #BBEC43; }
    main#mobile input[type="radio"]:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    main#mobile input[type="radio"]:disabled + label:before {
      box-shadow: none;
      background: #ddd; }
    main#mobile input[type="radio"]:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      width: 20px;
      height: 20px; }

main#shop {
  background: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden; }
  main#shop video#layer1 {
    position: absolute;
    z-index: 0; }
  main#shop div#layer2 {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding: 40px 60px;
    font-style: italic;
    display: flex;
    flex-direction: row; }
    main#shop div#layer2 div {
      display: flex;
      flex-direction: column; }
      main#shop div#layer2 div div#info-var {
        width: 40vw;
        height: 70vh;
        position: relative;
        top: 50px; }
        main#shop div#layer2 div div#info-var h1 {
          font-weight: 500;
          font-size: 140px; }
        main#shop div#layer2 div div#info-var h2 {
          font-weight: 100;
          font-size: 40px; }
      main#shop div#layer2 div div#info-price {
        height: 35vh; }
        main#shop div#layer2 div div#info-price h1,
        main#shop div#layer2 div div#info-price h4,
        main#shop div#layer2 div div#info-price h3 {
          color: #313131; }
        main#shop div#layer2 div div#info-price h1 {
          font-size: 180px; }
        main#shop div#layer2 div div#info-price h4,
        main#shop div#layer2 div div#info-price h3 {
          font-size: 40px;
          font-weight: 100;
          font-style: normal;
          position: relative;
          left: 25px; }
        main#shop div#layer2 div div#info-price h3 {
          font-weight: 500; }
    main#shop div#layer2 div#product {
      width: 60vw;
      display: flex;
      flex-direction: row;
      align-self: center; }
      main#shop div#layer2 div#product div {
        animation-name: float;
        animation-duration: 16s;
        animation-timing-function: cubic-bezier(0.47, 0, 0.48, 0.99);
        animation-play-state: running;
        animation-iteration-count: infinite; }
      main#shop div#layer2 div#product div:nth-of-type(1) {
        animation-delay: 5s; }
        main#shop div#layer2 div#product div:nth-of-type(1) img {
          width: 360px;
          height: auto; }
      main#shop div#layer2 div#product div:nth-of-type(2) img {
        width: 512px;
        height: auto; }

main#mupi {
  background: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden; }
  main#mupi video#layer1 {
    position: absolute;
    z-index: 0; }
  main#mupi div#layer2 {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding: 40px 60px;
    font-style: italic;
    display: flex;
    flex-direction: column; }
    main#mupi div#layer2 header {
      width: 100vw;
      height: 29vh;
      display: flex;
      justify-content: center; }
      main#mupi div#layer2 header img {
        width: 50vw;
        position: relative;
        left: -60px; }
    main#mupi div#layer2 div#body {
      display: flex;
      flex-direction: row; }
      main#mupi div#layer2 div#body div#info-var {
        width: 40vw;
        height: 70vh;
        position: relative;
        top: 50px; }
        main#mupi div#layer2 div#body div#info-var h1 {
          font-weight: 500;
          font-size: 140px; }
        main#mupi div#layer2 div#body div#info-var h2 {
          font-weight: 100;
          font-size: 40px; }
      main#mupi div#layer2 div#body div#info-price {
        height: 35vh;
        width: 50vw; }
        main#mupi div#layer2 div#body div#info-price h1,
        main#mupi div#layer2 div#body div#info-price h4,
        main#mupi div#layer2 div#body div#info-price h3 {
          color: #313131; }
        main#mupi div#layer2 div#body div#info-price h1 {
          font-size: 180px; }
        main#mupi div#layer2 div#body div#info-price h4,
        main#mupi div#layer2 div#body div#info-price h3 {
          font-size: 40px;
          font-weight: 100;
          font-style: normal;
          position: relative;
          left: 25px; }
        main#mupi div#layer2 div#body div#info-price h3 {
          font-weight: 500; }
        main#mupi div#layer2 div#body div#info-price div#qr {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          align-self: flex-start;
          background-color: white;
          width: 320px;
          height: 420px;
          border-radius: 15px;
          margin-bottom: 22vh;
          -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.19);
          -moz-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.19); }
          main#mupi div#layer2 div#body div#info-price div#qr img {
            width: 240px;
            height: auto; }
          main#mupi div#layer2 div#body div#info-price div#qr div {
            display: flex;
            align-items: center;
            height: 100px; }
            main#mupi div#layer2 div#body div#info-price div#qr div h5 {
              font-size: 58px;
              font-weight: 400;
              color: #2CD667;
              position: relative;
              top: -14px; }
    main#mupi div#layer2 div#product {
      width: 40vw;
      position: relative;
      top: 150px;
      left: -200px;
      display: flex;
      flex-direction: row;
      align-self: flex-end; }
      main#mupi div#layer2 div#product div {
        transform: rotate(15deg);
        animation-name: float;
        animation-duration: 16s;
        animation-timing-function: cubic-bezier(0.47, 0, 0.48, 0.99);
        animation-play-state: running;
        animation-iteration-count: infinite; }
        main#mupi div#layer2 div#product div img {
          width: 680px; }

@keyframes float {
  0% {
    transform: translate(0px, 0px) rotate(8deg); }
  25% {
    transform: translate(0px, 40px) rotate(5deg); }
  75% {
    transform: translate(0px, -50px) rotate(10deg); }
  100% {
    transform: translate(0px, 0px) rotate(8deg); } }

/*# sourceMappingURL=style.css.map */
